{% extends 'base.html' %}
{% block content %}
<body style="background-color:#D78A76;" class="text-center">
    <div id="left-col">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8" style="display: inline-block;">
                    <form action="/guest-signup" class="form-signin" id="signup-forms" method="POST">
                        <p>sign up here.</p>
                        <input style="max-width:80%; margin:auto;" name="email" type="text" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <input style="max-width:80%; margin:auto" name="password" type="text" id="inputPassword" class="form-control" placeholder="Password" required>
                        <input style="max-width:80%; margin:auto" name="first-name" type="text" id="inputFirstName" class="form-control" placeholder="First Name" required>
                        <input style="max-width:80%; margin:auto" name="last-name" type="text" id="inputLastName" class="form-control" placeholder="Last name" required>
                        <div>
                            <input type="submit" class="button-1" value="submit">
                        </div>
                        <span>
                            <a href="/">back to homepage.</a>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}