


.login {
  font-family: sans-serif;
  font-weight: bold;
  color: #D78A76;
}


.button-1 {
  background-color: #F3CA40;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #577590;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F08A4B;
}

#left-col {
  width: 100vw;
  height: 100vh;
  background-image: url("restaurant-image.jpg");
  background-size:cover;
}

#left-col-blurred {
  width: 100vw;
  height: 100vh;
  background-image: url("restaurant-image.jpg");
  background-size:cover;
  filter: blur(5px);
}



#right-col {
  width: 100vw;
  height: 100vh;
  background-image: url("barstools-image.jpg");
  background-size: cover;
  
}

#logo-background {
  width: 100vw;
  height: 100vh;
  background-image: url("white_logo_color_background.jpg");
  background-size:cover;
  
}

#login-page {
  width: 100vw;
  height: 100vh;
  background-image: url("plate.jpg");
  background-size: cover;
  font-family: sans-serif;
  color: #D78A76;
}

.review-input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid gray;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-size: 50%;
}

.review-input:focus {
  border: 3px solid black;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

a {
  color:#bf7967;
}

h1 {
  color:#f7f1ed
}

#logo-image {
  width: 50px;
  height:auto;
}

#logo-container {
  text-align:center;
}

#login-forms{
	border-style:double;
	border-width: 4px;
	background-color: rgba(255,255,255,.5);
	border-color: black;
	border-radius: 15px;
	padding: 15px;
	width: 250px;
  height: 250px;
}

#signup-forms{
	border-style:double;
	border-width: 4px;
	background-color: rgba(255,255,255,.5);
	border-color: black;
	border-radius: 15px;
	padding: 15px;
	width: 250px;
  height: 320px;
  
}

input {
  font-family: 'Anek Gujarati', sans-serif;
  color: black;
}

placeholder {
  font-family: 'Anek Gujarati', sans-serif;
  color: black;
  font-size: small;
}

