


.login {
  font-family: sans-serif;
  font-weight: bold;
  color: #D78A76;


  
  
}







.button-1 {
  background-color: #F3CA40;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #577590;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F08A4B;
}

#left-col {
  width: 100vw;
  height: 100vh;
  background-image: url("restaurant-image.jpg");
  background-size: cover;
  background-color:antiquewhite
}

#login-page {
  /* font-style: ; */
  /* font-size: ; */
  width: 100vw;
  height: 100vh;
  background-image: url("plate.jpg");
  background-size: cover;
  font-family: sans-serif;
  color: #D78A76;

}



