
.homepage-buttons {
  background-color: #F3CA40;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #577590;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 50px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top:200px;

}

.homepage-buttons:hover,
.homepage-buttons:focus {
  background-color: #F08A4B;
}

.button-1 {
  background-color: #F3CA40;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #577590;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top:100px;
}

.button-1:hover,
.button-1:focus {
  background-color: #F08A4B;
}

#left-col {
  width: 100vw;
  height: 100vh;
  background-image: url("restaurant-image.jpg");
  background-size:cover;
}


.guest-login-page-body { 
  margin: 0;
  padding: 0;
  height:100vh;
  background-color:#D78A76;
  text-align: center;
  align-items: center;
  

}



#right-col {
  width: 100%;
  height: 100%;
  background-image: url("plate.jpg");
  background-size: cover;
  
}

.profile-page {
  width: 100%;
  height: 100%;
  background-image: url("nigerian-restaurant.jpg");
  background-size: cover;
  
}


#logo-background {
  width: 100vw;
  height: 100vh;
  background-image: url("white_logo_color_background.jpg");
  background-size:cover;
  
}

#login-page {
  width: 100vw;
  height: 100vh;
  background-image: url("plate.jpg");
  background-size: cover;
  font-family: sans-serif;
  color: #D78A76;
}

.review-input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid gray;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-size: 50%;
}

.review-input:focus {
  border: 3px solid black;
}

textarea {
  width: 100%;
  height: 60px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #f8f8f8;
  resize: none;
  margin: 8px auto;
}

h1 {
  color:#f7f1ed;
  font: bold;
  
}

#homepage-logo-image {
  width: 1000px;
  height:200px;
  margin-top: 100px;
}

#reviewpage-logo-image {
  width: 1000px;
  height:200px;
  margin-top: 10px;
}

#logo-container {
  text-align:center;
}

#login-forms{
	border-style:double;
	border-width: 4px;
	background-color: rgba(255,255,255,.5);
	border-color: black;
	border-radius: 15px;
	padding: 15px;
	width: 250px;
  height: 250px;
  margin-top: 50px;
  margin-left: 350px;
}

#rating-forms{
	border-style:double;
	border-width: 4px;
	background-color: rgba(255,255,255,.5);
	border-color: black;
	border-radius: 15px;
	padding: 15px;
	width: 250px;
  height: 400px;
  margin-top: 50px;
  
}

#signup-forms{
	border-style:double;
	border-width: 4px;
	background-color: rgba(255,255,255,.5);
	border-color: black;
	border-radius: 15px;
	padding: 15px;
	width: 250px;
  height: 320px;
  margin-top: 50px;
  margin-left: 350px;
  
}

.input {
  font-family: 'Anek Gujarati', sans-serif;
  font-size: 7px;
  color: black;
  width: 200px;
  height:auto;
  margin: 10px
}


.user-ratings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.review-cards {
  
  font-size: 10px;
}

.card-title {
  font-size: 10px;
  font-weight: bold;
}

body {
  text-align: center;
}




