
<!doctype html>
<html lang="en">
    <head>
  
      <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

      <link rel="stylesheet" href="static/stylesheet.css" -->

    </head>
    
    <body>
      {% if session['user']: %}
      <p>hello, {{ session['user'] }}</p>
      {% endif %}
      
        {% block content %}
        
        
        
        {% endblock %}
    </body>
</html>