{% extends 'base.html' %}
{% block content %}



<form action="/restaurant-rating">
    <button class="profile-buttons">Create new review</button>
</form>
<form action=""
<button class="profile-buttons">Your reviews</button>
<form action=""
<!-- <button class="profile-buttons">Reviews of you</button> -->
<p>reviews of you</p>
{% for rating in user_ratings %}
<p>{{ rating.rating_score }}</p>
<p>{{ rating.restaurant.restaurant_name }}</p>
<p>{{ rating.rating_text }}</p>
{% endfor %}









<button formaction="/log-out" id="log-out-button">Log Out</button>





{% endblock %}





