{% extends 'base.html' %}
{% block content %}
   
    <h1>Log in</h1>


    <form   class="column" action="/guest-login" method="POST">
        <p>Email:</p>
            <input type="text" name="email" required>
        

        <p> Password:</p>
            <input type="text" name="password" required>
        
       
        <div>
            <input type="submit" class="button-1" value="submit">
        </div>

       
    </form>

    <a href="/guest-signup">Sign up</a>
    

   
   

{% endblock %}