{% extends 'base.html' %}
{% block content %}
<body>
<div class="profile-page">

        <button onclick="location.href='/restaurant-rating';" class="button-1">Create new review</button>
    
{% if user_ratings: %}
<h1>Reviews:</h1>
<div class="user-ratings-container mx-auto">
{% for rating in user_ratings %}
<div class="card border-light mb-3 mx-auto" style="width: 200px; height: 150px; background-color:#d78a76;">
    <div class="card-header">{{ rating.restaurant.restaurant_name }}</div>
    <div class="card-body">
      <h5 class="card-title">{{ rating.rating_score }}</h5>
      <p class="card-text">{{ rating.rating_text }}</p>
    </div>
</div>

{% endfor %}
</div>
{% endif %}







<form action="/log-out">
<button class="button-1">Log Out</button>
</form>


</div>
    
</body>

{% endblock %}





