{% extends 'base.html' %}
{% block content %}



<form action="/restaurant-rating">
    <button class="profile-buttons">Create new review</button>
</form>

<p style="font-weight:bolder; color: #F08A4B;">Reviews</p>
{% for rating in user_ratings %}
<p style="font-weight:bolder;">Score:</p>
<p>{{ rating.rating_score }}</p>
<p style="font-weight:bolder;">Restaurant:</p>
<p>{{ rating.restaurant.restaurant_name }}</p>
<p style="font-weight:bolder;">Review:</p>
<p>{{ rating.rating_text }}</p>
{% endfor %}








<form action="/log-out">
<button id="log-out-button">Log Out</button>
</form>




{% endblock %}





