{% extends 'base.html' %}
{% block content %}
    <header>
     //#implement logo header  
     <img class="logo" />
    </header>
    <h1>Log in</h1>


    <form   class="column" action="/login" method="POST">
        <p>Email:
            <input type="text" name="email" required>
        </p>

        <p> Password:
            <input type="text" name="password" required>
        </p>
       
        <div>
            <button type="button" class="button-1">submit</button>
        </div>

        <ul>     
            <li>
                <a href="/create">Create new account</a>
            </li>
        </ul>
    </form>

    <h2>Sign up</h2>

    <form class="row" action="/sign-up"  method="POST">
        <div class="input-group mb-3">
            <button class="btn btn-outline-secondary" type="button">Guest</button>
            <button class="btn btn-outline-secondary" type="button">Restaurant</button>
        </div>
        <label for="email-field">What is your email?</label>
        <input id="email-field" type="text" name="email" required />
        <button class="mybutton">get started</button>
    </form>

{% endblock %}