{% extends 'base.html' %}
{% block content %}
<body>
<div id="left-col">

    <div class="row justify-content-center">
        
        <div class="col-4 offset-2">
            
                <button style="margin-top: 150px;" onclick="location.href='/guest-login';" class="button-1">Guest</button>
               
</div>

 
        <div class="col-4">
            
                <button style="margin-top: 150px;" onclick="location.href='/restaurant-login';" class="button-1">Restaurant</button>
            
        </div>
    
    </div>

</div>
</body>












{% endblock %}