{% extends 'base.html' %}
{% block content %}
   <body>
    <div id="login">
    <h1>Log in</h1>


    <form   class="column" action="/restaurant-login" method="POST">
        <p >Email:</p>
            <input type="text" name="email" required>
        

        <p> Password:</p>
            <input type="text" name="password" required>
        
       
        <div>
            <input type="submit" class="button-1" value="submit">
        </div>

       
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
    
 
    <a href="/restaurant-signup">Sign up</a>
    </div>
   </body>
{% endblock %}