{% extends 'base.html' %}
{% block content %}
<body class="text-center" id="right-col">
<!-- <div id="right-col"> -->
<form action="/restaurant-rating" class="form-signin" id="submit-restaurant-rating" method="POST">
    
    <p style="color:#F08A48;">Name of restaurant:</p>
    
    <select name="restaurant">
        {% for restaurant in restaurants %}
        
        {% if restaurant.restaurant_id == restaurant_id %}
            <option class=review-input value="{{ restaurant.restaurant_id }}" selected="selected">{{ restaurant.restaurant_name }}</option>
        {% else %} 
            <option class=review-input value="{{ restaurant.restaurant_id }}">{{ restaurant.restaurant_name }}</option>
        {% endif %}
        {% endfor %}
    </select>
   
    <input style="max-width:50%; margin:auto;" name="score" type="text" id="inputScore" class="form-control review-input" placeholder="Score(1-10)" required autofocus>

    
    
    
    <textarea style="max-width:50%; margin:auto;" id="inputReview" type="text" name="review" class="form-control review-input" rows="4" cols="50" placeholder="Write review here..." required autofocus></textarea>
  

  <p>
    <input class="button-1" type="submit" value="Post reveiw">
   </p> 
    
    
</form>
<form action="/restaurants">
    <button class="button-1">See all restaurants</button>
</form>

<a href="/">return to homepage</a>  







<!-- </div> -->


    


</body>
{% endblock %}