{% extends 'base.html' %}
{% block content %}
<div id="left-col">
<form action="/restaurant-rating" method="POST">
    
    <p style="color:aliceblue;">Name of restaurant:</p>
    <!-- <input type="text" name="restaurant" required> -->
    <select name="restaurant">
        {% for restaurant in restaurants %}
        
        {% if restaurant.restaurant_id == restaurant_id %}
            <option value="{{ restaurant.restaurant_id }}" selected="selected">{{ restaurant.restaurant_name }}</option>
        {% else %} 
            <option value="{{ restaurant.restaurant_id }}">{{ restaurant.restaurant_name }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <p style="color:aliceblue;">Score(1-10):</p>
    <input type="text" name="score" required>

    <p style="color:aliceblue;">Review:</p>
    <input type="text" name="review">

  

  <p>
    <input class="button-1" type="submit" value="Post reveiw">
   </p> 
    
    
</form>
<form action="/restaurants">
    <button class="button-1">See all restaurants</button>
</form>

<a href="/">return to homepage</a>  







</div>

{% endblock %}