{% extends 'base.html' %}
{% block content %}
<div id="left-col">
<form action="/user-rating" id="user-rating" method="POST">

    <p style="color:aliceblue;">Restaurant Name:</p>
    <input type="text" name="restaurant" required>

    <p style="color:aliceblue;">Name of Guest:</p> 
    <!-- <input type="text" name="guest" required> -->
    <select name="guest">
        {% for user in users %}
        
        
            <option value="{{ user.user_id }}" {% if user_id==user.user_id %} selected="selected"{% endif %}>{{ user.fname }}</option>
        
        {% endfor %}
    </select>
    <p style="color:aliceblue;">Score(1-10):</p>
    <input type="text" name="score" required>

    <p style="color:aliceblue;">Review:</p>
    <input type="text" name="review">

<p>
    <input class="button-1" type="submit" value="Post reveiw">
    </p>
    
</form>


<a href="/restaurant-home">return to homepage</a>
</div>
{% endblock %}