{% extends 'base.html' %}
{% block content %}
<body class="text-center">
<div id="right-col">
<form action="/user-rating" id="user-rating" method="POST">

    <!-- <p style="color:aliceblue;">Restaurant Name:</p>
    <input class="review-input" type="text" name="restaurant" required> -->

    <span style="color:aliceblue;">Name of Guest:</span> 
    <!-- <input type="text" name="guest" required> -->
    <select name="guest">
        {% for user in users %}
        
        
            <option value="{{ user.user_id }}" {% if user_id==user.user_id %} selected="selected"{% endif %}>{{ user.fname }}</option>
        
        {% endfor %}
    </select>
    
    <input style="max-width:50%; margin:auto;" name="score" type="text" id="inputScore" class="form-control review-input" placeholder="Score(1-10)" required autofocus>

    
    
    <textarea style="max-width:50%; margin:auto;" id="inputReview" type="text" name="review" class="form-control review-input" rows="4" cols="50" placeholder="Write review here..." required autofocus></textarea>
<p>
    <input class="button-1" type="submit" value="Post reveiw">
    </p>
    
</form>


<a href="/restaurant-home">return to homepage</a>
</div>
</body>
{% endblock %}