{% extends 'base.html' %}
{% block content %}




<div class="restaurant-details">

    <h2>{{ restaurant.restaurant_name }} Details</h2>

    <ul>

        <li>Address: {{ restaurant.restaurant_address }}</li>
        <li>Score: {{ average_score }}</li>

    </ul>
    <!-- <form action="/restaurant-rating">
        <button class="new-rest-review">Rate {{ restaurant.restaurant_name }}</button>
    </form> -->
    <a href="/restaurant-rating/{{restaurant.restaurant_id}}" class="new-rest-review">>Rate {{ restaurant.restaurant_name }}</a>
{% for rating in restaurant.restaurant_ratings %}
    <p>{{ rating.rating_score }}</p>
    <p>{{ rating.rating_text }}</p>
    <p>{{ rating.user.fname  }} {{ rating.user.lname  }}</p>
{% endfor %}
</div>

<a href="/">return to homepage</a>







{% endblock %}